header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  top: 0px;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
}
