body {
  background-image: url(./assets/space.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.icon {
  font-size: 1.5rem;
}
